@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
    background-color: #FFE1EA;
    font-family: "Honk", system-ui;
}

h1 {
    font-family: "Honk", system-ui;
}

#img {
    transition: opacity 0.5s ease-in-out;
}